*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-basic-dark: #565c66;
  --color-extra-dark: #2d3440;
  --color-extra-light: #fcfcfc;
  --color-basic-neutral: #b9b9b9;
  --color-extra-bright: #ff2f64;
  --color-special-bright: #ff4a78;
  --color-ghost: #fcfcfc4d;
  --color-navigation: #fcfcfc80;
  --color-pagination: #fcfcfc66;
  --color-disabled: #b9b9b94d;
  --color-social: #fcfcfc33;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-basic-dark);
  min-height: 100vh;
  margin: 0;
  background-color: #feafc3;
}

.container {
  width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.list-default {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: var(--color-extra-dark);
}

.button {
  display: block;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-extra-dark);
  background-color: var(--color-extra-light);
  text-decoration: none;
  outline: 4px solid var(--color-ghost);
  border-radius: 26px;
  padding: 12px 32px;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-pagination);
  outline: 4px solid var(--color-extra-light);
}

.button:focus {
  background-color: var(--color-extra-light);
  outline: 2px solid var(--color-extra-dark);
}

.button:disabled {
  color: var(--color-basic-neutral);
  background-color: #e7e7e7;
  outline: 4px solid var(--color-pagination);
}

.button--red {
  color: var(--color-extra-light);
  background-color: var(--color-extra-bright);
  border-radius: 26px;
  border: none;
  outline-color: #ff2f644d;
}

.button--red:hover {
  color: var(--color-extra-dark);
  background-color: var(--color-ghost);
  outline-color: var(--color-extra-bright);
}

.product-button:hover:not(.product-button:disabled) {
  background-color: var(--color-ghost);
  outline: 2px solid var(--color-extra-bright);
}

.product-button:hover:not(:focus):not(.product-button:disabled)::before {
  background-color: var(--color-extra-dark);
}

.product-button:disabled {
  background-color: var(--color-basic-neutral);
}

.product-button:disabled::before {
  background-color: var(--color-basic-dark);
}

.button--red:focus,
.product-button:focus:not(.product-button:disabled) {
  color: var(--color-extra-light);
  background-color: var(--color-extra-bright);
  outline: 2px solid var(--color-extra-dark);
}

.button--red:disabled {
  color: var(--color-basic-dark);
  background-color: var(--color-basic-neutral);
  outline: 4px solid var(--color-disabled);
}

.button--process,
.button--loading {
  position: relative;
  padding-right: 50px;
}

.button--process::before,
.button--loading::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-top: 2px solid #ffffff33;
  border-right: 2px solid #ffffff33;
  border-bottom: 2px solid #ffffff33;
  animation: spinner 1.5s infinite linear;
}

.button--process::before {
  border-left: 2px solid var(--color-extra-light);
}

.button--loading::before {
  border-left: 2px solid var(--color-extra-dark);
}

@keyframes spinner {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.field {
  position: relative;
}

.field-info {
  display: none;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  left: 0px;
  top: 100%;
  width: 260px;
}

.field-label {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
  color: var(--color-extra-dark);
}

.navigation {
  display: flex;
  padding: 24px 0;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 17px;
}

.logo img {
  display: block;
  width: 137px;
  height: 56px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 590px;
}

.interaction {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.navigation-link {
  display: block;
  line-height: 20px;
  color: var(--color-extra-dark);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 26px;
  transition: all 0.3s;
  cursor: pointer;
}

.navigation-link:hover:not(.navigation-link--current),
.interaction-link:hover {
  background-color: var(--color-navigation);
}

.navigation-link:focus:not(.navigation-link--current),
.interaction-link:focus {
  background-color: var(--color-navigation);
  outline: 2px solid var(--color-extra-dark);
}

.navigation-link:active:not(.navigation-link--current),
.interaction-link:active {
  background-color: var(--color-extra-light);
  outline: none;
}

.navigation-link--current {
  color: var(--color-extra-light);
  background-color: var(--color-special-bright);
}

.navigation-link--current:focus {
  outline: 2px solid var(--color-extra-dark);
}

.interaction-phone {
  font-weight: 700;
  line-height: 20px;
  color: var(--color-extra-dark);
  text-decoration: none;
  margin-right: 20px;
}

.interaction-item,
.navigation-item {
  position: relative;
}

.popup {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 7px;
  z-index: 99;
  display: none;
}

.popup--catalog {
  left: 0;
  width: 140px;
}

.catalog-link {
  color: var(--color-extra-dark);
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  padding: 6px 17px;
  outline: none;
}

.catalog-link--new {
  font-weight: 700;
  position: relative;
  margin-bottom: 7px;
  padding: 17px 16px 12px 16px;
}

.catalog-link--new::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 75%;
  background-color: var(--color-basic-neutral);
}

.catalog-link:not(.catalog-link--active):hover,
.catalog-link:not(.catalog-link--active):focus-visible {
  background-color: #ffcbd8;
}

.catalog-link:not(.catalog-link--active):active {
  background-color: #ff7799;
}

.catalog-link--active {
  background-color: var(--color-special-bright);
  color: var(--color-extra-light);
}

.search-form {
  width: 355px;
  padding: 25px 16px;
}

.login {
  padding: 50px 47px;
}

.login-form {
  width: 324px;
}

.login-title,
.cart-title {
  margin: 0 0 31px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.login-form .field:not(:last-child) {
  margin-bottom: 18px;
}

.login-form .field:nth-child(2) {
  margin-bottom: 33px;
}

.login-footer {
  display: flex;
}

.login-footer button {
  margin-right: 22px;
  width: 115px;
  padding: 12px 33px;
}

.check-in a {
  display: inline-block;
  vertical-align: middle;
  color: var(--color-extra-dark);
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  position: relative;
}

.check-in a::before {
  position: absolute;
  content: "";
  bottom: 1px;
  left: 0;
  width: 100%;
  background-color: var(--color-extra-dark);
  height: 1px;
}

.popup-content {
  box-shadow: 0 8px 16px 0 #2d34401f;
  background-color: var(--color-extra-light);
  border-radius: 4px;
}

.field-input--search::-webkit-search-decoration,
.field-input--search::-webkit-search-cancel-button,
.field-input--search::-webkit-search-results-button,
.field-input--search::-webkit-search-results-decoration {
  appearance: none;
}

.field-input--search {
  padding-right: 40px;
}

.cross-button {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.cross-button--search {
  display: none;
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.cross-button span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 1px;
  background-color: var(--color-extra-dark);
  opacity: 0.4;
}

.cross-button span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross-button span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cross-button--show {
  display: block;
}

.cross-button--search:hover span,
.cross-button--search:focus span {
  opacity: 1;
}

.interaction-item:not(:last-child) {
  margin-right: 16px;
}

.interaction-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-extra-dark);
  text-decoration: none;
  position: relative;
  background-color: var(--color-ghost);
  border-radius: 26px;
  transition: all 0.3s;
  cursor: pointer;
}

.interaction-link--cart,
.interaction-link--login,
.interaction-link--full {
  padding: 6px 17px 6px 40px;
}

.interaction-link--search {
  width: 32px;
  height: 32px;
}

.cart-text {
  padding: 50px 30px;
  width: 288px;
  display: none;
}

.cart-text p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: var(--color-extra-dark);
}

.cart--empty .cart-text {
  display: block;
}

.cart--empty .cart-product {
  display: none;
}

.cart-product {
  padding: 50px 48px;
  width: 440px;
}

.cart-list {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e7e7e7;
}

.cart-item:not(:last-child) {
  margin-bottom: 26px;
}

.goods {
  display: flex;
  align-items: center;
}

.goods-content {
  display: flex;
  align-items: center;
  min-width: 210px;
  margin-right: 15px;
}

.goods-content img {
  display: block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
}

.goods-text p:first-child {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-extra-dark);
  margin: 0 0 3px;
}

.goods-text p:last-child {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-basic-neutral);
  margin: 0;
}

.goods-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-extra-dark);
  margin: 0;
}

.goods-button {
  margin-left: auto;
  margin-right: 3px;
}

.cart-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-footer button {
  width: 196px;
  padding: 10px;
}

.cart-footer p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-extra-dark);
  margin: 6px 2px 0 0;
}

.interaction-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--color-extra-dark);
  transform: translateY(-50%);
}

.interaction-link--search::before {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  left: 50%;
  mask: url("../img/header/icon-search.svg") no-repeat center/cover;
  -webkit-mask: url("../img/header/icon-search.svg") no-repeat center/cover;
}

.interaction-link--login::before {
  width: 15px;
  height: 15px;
  left: 18px;
  mask: url("../img/header/icon-login.svg") no-repeat center/cover;
  -webkit-mask: url("../img/header/icon-login.svg") no-repeat center/cover;
}

.interaction-link--cart::before {
  width: 15px;
  height: 15px;
  left: 17px;
  mask: url("../img/header/cart.svg") no-repeat center/cover;
  -webkit-mask: url("../img/header/cart.svg") no-repeat center/cover;
}

.interaction-link--full::before {
  width: 15px;
  height: 15px;
  left: 17px;
  mask: url("../img/header/cart-full.svg") no-repeat center/cover;
  -webkit-mask: url("../img/header/cart-full.svg") no-repeat center/cover;
}

.interaction-item:hover .popup,
.navigation-item:hover .popup,
.interaction-item:focus-within .popup,
.navigation-item:focus-within .popup {
  display: block;
}

.navigation-item--menu:hover .navigation-link:not(.navigation-link--current),
.navigation-item--menu:focus-within .navigation-link:not(.navigation-link--current),
.interaction-item:hover .interaction-link,
.interaction-item:focus-within .interaction-link {
  background-color: var(--color-extra-light);
}

.slider-content {
  position: relative;
}

.slider-showroom {
  display: flex;
  margin-bottom: 3px;
}

.slide {
  display: none;
}

.slider-frontline {
  margin-right: 42px;
}

.slide--active {
  display: flex;
}

.slider-cover {
  display: flex;
  align-items: center;
  padding-top: 28px;
}

.slider-preview {
  position: relative;
  width: 100px;
}

.slider-preview:not(:last-child) {
  margin-right: 42px;
}

.slider-preview img {
  display: block;
  margin: 0 auto;
  width: 66px;
  height: 150px;
}

.slider-preview::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: -1;
  background-color: #ffcbdb66;
}

.slider-preview--inactive {
  display: none;
}

.slide-text {
  width: 510px;
  padding-top: 137px;
  padding-left: 71px;
  margin-right: 32px;
}

.slide-name {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: var(--color-extra-dark);
  margin: 0;
  margin-bottom: 24px;
}

.slide-description {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-extra-dark);
  max-width: 419px;
  margin: 0;
  margin-bottom: 48px;
}

.slide-button {
  width: 139px;
}

.slide-img {
  position: relative;
  width: 344px;
  padding-top: 20px;
}

.slide-img img {
  display: block;
  margin: 0 auto;
  width: 306px;
  height: 507px;
}

.slide-img::before {
  position: absolute;
  content: "";
  top: 53%;
  left: 50%;
  transform: translate(-49%, -50%);
  border-radius: 50%;
  width: 312px;
  height: 312px;
  z-index: -1;
}

.slide--strawberry .slide-img::before {
  background-color: #ffcbd8;
}

.slide--banana .slide-img::before {
  background-color: #9fc8ff;
}

.slide--marshmallow .slide-img::before {
  background-color: #fcdc92;
}

.promo-button {
  position: absolute;
  top: 52.4%;
  transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
  padding: 0;
  outline: none;
  border: 2px solid var(--color-extra-light);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.promo-button--left {
  left: 561px;
}

.promo-button--right {
  left: 873px;
}

.promo-button::before {
  position: absolute;
  content: "";
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--color-extra-light);
  mask: url("../img/promo-arrow.svg") no-repeat center/cover;
  -webkit-mask: url("../img/promo-arrow.svg") no-repeat center/cover;
}

.promo-button--right::before {
  transform: translate(-50%, -50%) rotate(180deg);
}


.promo-button:not(.promo-button:disabled):hover {
  background-color: var(--color-extra-light);
}

.promo-button:not(.promo-button:disabled):hover::before,
.promo-button:not(.promo-button:disabled):focus::before {
  background-color: var(--color-extra-dark);
}

.promo-button:not(.promo-button:disabled):focus {
  background-color: transparent;
  border-color: var(--color-extra-dark);
}

.promo-button:disabled {
  opacity: 0.4;
}

.slider-footer {
  display: flex;
  justify-content: space-between;
}

.slider-switcher {
  display: flex;
  align-items: flex-end;
}

.slider-switch {
  width: 12px;
  height: 12px;
  background-color: var(--color-ghost);
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0;
  outline: none;
}

.slider-switch:not(:last-child) {
  margin-right: 8px;
}

.slider-switch--active {
  background-color: var(--color-extra-light);
}

.slider-switch:not(.slider-switch--active):hover {
  border-color: var(--color-extra-light);
}

.slider-switch:not(.slider-switch--active):focus {
  border-color: var(--color-extra-dark);
}

.socials {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24px, 24px));
  gap: 16px 16px;
  max-width: 111px;
}

.socials-link {
  display: block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  border-radius: 50%;
  outline: 2px solid var(--color-social);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.socials-link:not(:last-child) {
  margin-right: 16px;
}

.socials-link::before {
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: var(--color-extra-light);
}

.socials-link--vk::before {
  mask: url("../img/icon-vk.svg") no-repeat center/cover;
  -webkit-mask: url("../img/icon-vk.svg") no-repeat center/cover;
}

.socials-link--facebook::before {
  mask: url("../img/icon-facebook.svg") no-repeat center/cover;
  -webkit-mask: url("../img/icon-facebook.svg") no-repeat center/cover;
}

.socials-link--instagram::before {
  mask: url("../img/icon-instagram.svg") no-repeat center/cover;
  -webkit-mask: url("../img/icon-instagram.svg") no-repeat center/cover;
}

.socials-link:hover {
  background-color: var(--color-extra-dark);
}

.socials-link:focus {
  background-color: var(--color-extra-dark);
  outline: 2px solid var(--color-extra-dark);
}

.presents {
  padding-top: 81px;
}

.presents-title {
  text-align: center;
  margin: 0 auto 55px;
  max-width: 417px;
}

.presents-offers {
  display: flex;
  flex-wrap: wrap;
}

.offer {
  width: 570px;
  background-color: #ff7799;
  border-radius: 16px;
  padding: 41px 0 40px 40px;
  background-repeat: no-repeat;
}

.offer--raspberries {
  background-image: url("../img/offer-rasberries.png");
  background-position: bottom right 15px;
}

.offer--marshmallow {
  background-image: url("../img/offer-marshmallow.png");
  background-position: bottom right 7px;
}

.offer-text {
  max-width: 322px;
}

.offer:nth-child(odd) {
  margin-right: 30px;
}

.offer-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-extra-dark);
  margin: 0 0 15px;
}

.offer-description {
  color: var(--color-extra-dark);
  margin: 0 0 32px;
}

.offer-link {
  display: block;
  width: 176px;
}

.popular {
  padding-top: 81px;
}

.popular-title {
  text-align: center;
  margin: 0 auto 55px;
  max-width: 527px;
}

.product {
  position: relative;
  padding-top: 52px;
}

.catalog-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 270px));
  justify-content: center;
  grid-gap: 41px 30px;
}

.product-img {
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-content {
  background-color: var(--color-extra-light);
  padding: 133px 40px 23px;
  border-radius: 8px;
}

.product-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-button {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  display: block;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  text-decoration: none;
  background-color: var(--color-extra-bright);
  border-radius: 26px;
}

.product-button::before {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  left: 50%;
  content: "";
  position: absolute;
  top: 50%;
  background-color: var(--color-extra-light);
  mask: url("../img/header/cart.svg") no-repeat center/cover;
  -webkit-mask: url("../img/header/cart.svg") no-repeat center/cover;
}

.product-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-extra-dark);
  margin: 0 0 8px;
  text-align: center;
}

.product-about {
  margin: 0 0 15px;
  text-align: center;
}

.product-about--thrash {
  max-width: 150px;
  margin: 0 auto 15px;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-extra-dark);
  margin: 0;
}

.product-price span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.manufacture {
  padding-top: 81px;
}

.manufacture-block {
  padding: 24px;
  background-image: url("../img/manufacture-bg.jpg");
  background-color: var(--color-extra-light);
  background-repeat: repeat;
  background-size: cover;
  border-radius: 16px;
}

.manufacture-content {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: var(--color-extra-light);
}

.manufacture-title {
  margin: 0 auto 56px;
  text-align: center;
  max-width: 995px;
}

.manufacture-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(505px, 505px));
  justify-content: center;
  grid-gap: 39px 31px;
}

.manufacture-item {
  padding-left: 64px;
  position: relative;
}

.manufacture-item::before {
  width: 48px;
  height: 48px;
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  background-color: var(--color-extra-dark);
}

.manufacture-item--equipment::before {
  mask: url("../img/icon-icecream.svg") no-repeat center/cover;
  -webkit-mask: url("../img/icon-icecream.svg") no-repeat center/cover;
}

.manufacture-item--quality::before {
  mask: url("../img/icon-cow.svg") no-repeat center/cover;
  -webkit-mask: url("../img/icon-cow.svg") no-repeat center/cover;
}

.manufacture-item--purchase::before {
  mask: url("../img/icon-leaf.svg") no-repeat center/cover;
  -webkit-mask: url("../img/icon-leaf.svg") no-repeat center/cover;
}

.manufacture-item--delivery::before {
  mask: url("../img/icon-thermometer.svg") no-repeat center/cover;
  -webkit-mask: url("../img/icon-thermometer.svg") no-repeat center/cover;
}

.manufacture-item p {
  margin: 0;
}

.blog {
  display: flex;
  padding-top: 82px;
}

.new {
  width: 570px;
  background-image: url("../img/blog-bg.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-right: 30px;
  padding: 32px 224px 0 32px;
}

.new-info {
  line-height: 20px;
  margin: 0 0 12px;
}

.new-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-extra-dark);
  margin: 0;
}

.new-link {
  display: block;
  text-decoration: none;
}

.subscription {
  width: 570px;
  background-image: url("../img/subscription-bg.jpg");
  background-color: var(--color-extra-light);
  background-repeat: repeat;
  border-radius: 16px;
  padding: 6px;
}

.subscription-content {
  background-color: var(--color-extra-light);
  border-radius: 16px;
  padding: 26px 24px 25px 26px;
}

.subscription-content > p {
  margin: 0 0 43px;
}

.subscription-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 25px;
}

.connection {
  padding-top: 76px;
}

.connection p {
  margin: 0;
}

.connection-content {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/connection-bg.jpg");
  background-color: var(--color-extra-light);
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 64px 64px 64px 100px;
}

.delivery {
  max-width: 378px;
  padding-top: 106px;
}

.delivery-title {
  margin: 0 0 23px;
}

.feedback {
  max-width: 500px;
  background-color: var(--color-extra-light);
  border-radius: 8px;
  padding: 41px;
}

.feedback > p {
  margin-bottom: 32px;
}

.form-list {
  display: grid;
  grid-template-columns: 114px 286px;
  gap: 22px 18px;
  margin-bottom: 34px;
}

.field-input {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-extra-dark);
  display: block;
  width: 100%;
  height: 46px;
  padding: 0 14px 0 16px;
  border: none;
  outline: 1px solid #b9b9b9;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
}

.field-input:not(.field-input:disabled):not(.field-input--search):hover {
  outline-color: var(--color-extra-dark);
}

.field-input:not(.field-input--search):focus {
  outline: 2px solid var(--color-extra-dark);
}

.field-input--error {
  outline: 1px solid #EA5454;
}

.field-input--error:hover {
  outline: 2px solid #EA5454;
}

.field-input:disabled {
  background-color: #e7e7e7;
}

.field-input:disabled::placeholder {
  color: #2d3440a6;
}

.field-input::placeholder {
  color: var(--color-basic-neutral);
}

.field:nth-child(3) {
  grid-column: 1/-1;
}

.field-label--help {
  position: relative;
  padding-right: 18px;
}

.field-tooltip {
  display: none;
  position: absolute;
  top: 60%;
  left: 114%;
  transform: translateY(-50%);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 5px;
  width: 170px;
  color: var(--color-extra-dark);
  background-color: var(--color-extra-light);
  border: 1px solid var(--color-basic-neutral);
  z-index: 98;
}

.field-tooltip::before {
  content: "";
  position: absolute;
  top: 45%;
  left: -6px;
  width: 10px;
  height: 10px;
  background-color: var(--color-extra-light);
  border-left: 1px solid var(--color-basic-neutral);
  border-top: 1px solid var(--color-basic-neutral);
  transform: translateY(-50%) rotate(-45deg);
}

.field-label--help::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-extra-dark);
  mask: url("../img/icon-info.svg") no-repeat center/cover;
  -webkit-mask: url("../img/icon-info.svg") no-repeat center/cover;
}

.field-label--help:hover .field-tooltip {
  display: block;
}

.feedback-submit {
  margin: 0 auto;
}

.contacts {
  padding-top: 81px;
}

.contacts-content {
  background-image: url("../img/contacts-bg.jpg");
  background-color: var(--color-extra-light);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 64px;
}

.office {
  width: 343px;
  background-color: var(--color-extra-light);
  border-radius: 8px;
  padding: 40px;
}

.office-location,
.office-tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-extra-dark);
  text-decoration: none;
}

.office-location {
  display: block;
  margin-bottom: 24px;
}

.office-tel {
  margin: 0;
}

.office-text {
  margin: 0 0 12px;
  max-width: 205px;
}

.office-time {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 33px;
}

.office-feedback {
  display: block;
  text-decoration: none;
  max-width: 250px;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 49px 43px 49px 34px;
  align-items: flex-start;
}

.info {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 8px 24px;
  margin-left: 124px;
  width: 365px;
}

.info-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-extra-dark);
  text-decoration: none;
}

.info-link--bold {
  font-weight: 700;
  position: relative;
}

.info-link--bold::before {
  width: 14px;
  height: 13px;
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: -16px;
  background-color: var(--color-extra-dark);
  mask: url("../img/footer/icon-heart.svg") no-repeat center/cover;
  -webkit-mask: url("../img/footer/icon-heart.svg") no-repeat center/cover;
}

.author-about {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-extra-dark);
  margin: 0;
}

.author-logo {
  display: block;
  margin-bottom: 14px;
}

.author-logo img {
  display: block;
  width: 93px;
  height: 27px;
}

.author-link {
  color: var(--color-extra-dark);
  position: relative;
  text-decoration: none;
}

.author-link::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  background-color: var(--color-extra-dark);
  width: 100%;
  height: 1px;
}

.author-info {
  min-width: 194px;
}

.breadcrumbs {
  padding-top: 32px;
  margin-bottom: 17px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  padding-right: 19px;
  margin-right: 10px;
}

.breadcrumbs-item:not(:last-child)::before {
  width: 7px;
  height: 6px;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-extra-dark);
  mask: url("../img/catalog/icon-arrows.svg") no-repeat center/cover;
  -webkit-mask: url("../img/catalog/icon-arrows.svg") no-repeat center/cover;
}

.breadcrumbs-link {
  position: relative;
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-extra-dark);
}

.breadcrumbs-link[href]::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-basic-dark);
}

.inner-header-title {
  margin: 0 0 39px;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-header {
  display: grid;
  grid-template-columns: 195px 198px 366px;
  gap: 24px;
  margin-bottom: 15px;
}

.filter-label {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-extra-dark);
  margin: 0 0 8px 16px;
}

.select-control {
  font-size: 15px;
  line-height: 19px;
  color: var(--color-extra-dark);
  width: 195px;
  padding: 6px 27px 8px 14px;
  border-radius: 20px;
  appearance: none;
  background: url("../img/catalog/select-arrow.svg") no-repeat 94% 50% / 12px 10px var(--color-ghost);
  border: 2px solid transparent;
  outline: none;
}

.select-control:hover {
  background-color: var(--color-navigation);
}

.select-control:focus {
  background-color: var(--color-pagination);
  border-color: var(--color-extra-light);
}

.catalog-filter-input {
  width: 26px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--color-extra-dark);
}

.range {
  background-color: var(--color-ghost);
  width: 198px;
  height: 36px;
  padding: 10px 19px 10px 17px;
  border-radius: 20px;
}

.price p {
  margin: 0 0 8px 18px;
}

.price .catalog-filter-input {
  margin-right: 3px;
}

.price .catalog-filter-label:first-child {
  margin-right: 2px;
}

.price-field {
  position: relative;
  height: 100%;
}

.price-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #565c664d;
}

.price-line--black {
  left: 33px;
  width: 45%;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  border-radius: 50%;
  background-image: radial-gradient(var(--color-extra-light) 0, var(--color-extra-light) 2px, var(--color-extra-dark) 2px, var(--color-extra-dark) 100%);
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}

.toggle-min {
  left: 16%;
}

.toggle-max {
  left: 59%;
}

.range-toggle:hover {
  background-image: radial-gradient(var(--color-extra-dark) 0, var(--color-extra-dark) 2px, var(--color-extra-light) 2px, var(--color-extra-light) 100%);
}

.range-toggle:focus {
  background-image: radial-gradient(var(--color-extra-dark) 0, var(--color-extra-dark) 2px, var(--color-extra-light) 2px, var(--color-extra-light) 7px, var(--color-extra-dark) 7px, var(--color-extra-dark) 100%);
}

.range-toggle:active {
  background-image: radial-gradient(var(--color-extra-dark) 0, var(--color-extra-dark) 100%);
}

.catalog-filter-title {
  margin: 0 0 8px 14px;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-ghost);
  border-radius: 20px;
  padding: 8px 15px;
}

.catalog-filter-item input:checked~.control::before {
  background-image: radial-gradient(var(--color-extra-dark) 0, var(--color-extra-dark) 3px, transparent 3px, transparent 100%);
}

.catalog-filter-item:not(:last-child) {
  margin-right: 17px;
}

.control {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-extra-dark);
  padding-left: 24px;
}

.control::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-extra-dark);
  border-radius: 50%;
}

.catalog-filter-item input:hover:not(.catalog-filter-item input:disabled):not(.catalog-filter-item input:checked)~.control::before {
  background-image: none;
  border-color: var(--color-extra-light);
}

.catalog-filter-item input:checked~.control:hover::before {
  background-image: radial-gradient(var(--color-extra-light) 0, var(--color-extra-light) 3px, transparent 3px, transparent 100%);
  border-color: var(--color-extra-light);
}

.catalog-filter-item input:focus:checked:not(.catalog-filter-item input:disabled)~.control::before {
  background-image: radial-gradient(var(--color-extra-light) 0, var(--color-extra-light) 3px, transparent 3px, transparent 100%);
  border-color: var(--color-extra-light);
}

.catalog-filter-item input:focus:not(.catalog-filter-item input:disabled)~.control::before {
  background-image: none;
  border-color: var(--color-extra-light);
}

.catalog-filter-item input:disabled~.control::before,
.catalog-filter-item input:disabled:checked~.control::before {
  opacity: 0.4;
}

.choice {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-extra-dark);
  padding-left: 25px;
}

.choice::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  mask: url("../img/catalog/checkbox-empty.svg") no-repeat center/cover;
  -webkit-mask: url("../img/catalog/checkbox-empty.svg") no-repeat center/cover;
  background-color: var(--color-extra-dark);
}

.catalog-filter-item input:checked~.choice::before {
  mask: url("../img/catalog/checkbox-checked.svg") no-repeat center/cover;
  -webkit-mask: url("../img/catalog/checkbox-checked.svg") no-repeat center/cover;
  background-color: var(--color-extra-dark);
}

.catalog-filter-item input:hover:not(.catalog-filter-item input:disabled)~.choice::before,
.catalog-filter-item input:checked~.choice:hover::before {
  background-color: var(--color-extra-light);
}

.catalog-filter-item input:focus:not(.catalog-filter-item input:disabled)~.choice::before,
.catalog-filter-item input:checked~.choice:focus::before {
  background-color: var(--color-extra-light);
}

.catalog-filter-item input:disabled~.choice::before,
.catalog-filter-item input:disabled:checked~.choice::before {
  opacity: 0.4;
}

.filter-footer {
  display: grid;
  grid-template-columns: 596px 190px;
  gap: 23px;
  align-items: end;
}

.filter-footer .catalog-filter-item:not(:last-child) {
  margin-right: 16px;
}

.filter-footer .catalog-filter-item:nth-child(2) {
  margin-right: 24px;
}

.sorting-type {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-extra-dark);
}

.sorting-type-submit {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-extra-dark);
  background-color: var(--color-ghost);
  border: 2px solid var(--color-extra-light);
  border-radius: 20px;
  width: 190px;
  height: 36px;
  padding: 6px;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}

.sorting-type-submit:hover {
  background-color: var(--color-extra-light);
  border: 2px solid var(--color-ghost);
}

.sorting-type-submit:focus {
  background-color: var(--color-ghost);
  border-color: #2d3440;
}

.sorting-type-submit:disabled {
  background-color: var(--color-ghost);
  border: 2px solid var(--color-extra-light);
  opacity: 0.4;
}

.catalog {
  padding-top: 48px;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  padding-top: 58px;
  position: relative;
  padding-bottom: 81px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.show-more {
  margin: 0 auto 0 42.2%;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  color: var(--color-extra-dark);
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: none;
}

.pagination-button:not(:last-child) {
  margin-left: 3px;
}

.pagination-button:not([href]) {
  background-color: var(--color-extra-light);
}

.pagination-button[href]:hover {
  border-color: var(--color-extra-light);
  background-color: var(--color-pagination);
}

.pagination-button[href]:focus {
  border-color: var(--color-extra-dark);
  background-color: var(--color-pagination);
}

.pagination-button[href]:active {
  background-color: var(--color-extra-light);
}

.pagination-arrow {
  width: 12px;
  height: 12px;
  background: url("../img/catalog/icon-arrow.svg") no-repeat center center;
  background-size: 12px 12px;
}

.pagination-arrow:not([href]) {
  opacity: 0.2;
}

.pagination-arrow--early {
  transform: rotate(180deg);
  margin-right: 17px;
}

.pagination-arrow--next {
  margin-left: 19px;
}

.pages::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 95%;
  background-color: var(--color-ghost);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #2d34404d;
}

.modal--show {
  display: flex;
}

.modal-window {
  position: relative;
  width: 570px;
  height: 545px;
  padding: 64px;
  border-radius: 8px;
  background-color: var(--color-extra-light);
  box-shadow: 0 15px 40px #2d34401f;
}

.cross-button--modal {
  position: absolute;
  top: 35px;
  right: 35px;
  width: 14px;
  height: 14px;
}

.cross-button--modal span {
  opacity: 1;
}

.modal-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-extra-dark);
  margin: 0 0 33px;
}

.modal-list {
  margin-bottom: 34px;
}

.modal-list input {
  margin-bottom: 18px;
}

.modal-list li:not(:last-child) {
  margin-bottom: 16px;
}

.field-input--text {
  height: 147px;
  resize: none;
  padding-top: 14px;
  padding-bottom: 14px;
}

.modal-submit {
  width: 148px;
  padding: 10px;
  margin-left: auto;
}
